[submodule "bundle/vim-syntax-extra"]
	path = bundle/vim-syntax-extra
	url = https://github.com/justinmk/vim-syntax-extra.git
[submodule "bundle/vim-cpp-enhanced-highlight"]
	path = bundle/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "bundle/latex-box"]
	path = bundle/latex-box
	url = git://github.com/LaTeX-Box-Team/LaTeX-Box.git
[submodule "bundle/vim-pandoc-syntax"]
	path = bundle/vim-pandoc-syntax
	url = git@github.com:vim-pandoc/vim-pandoc-syntax.git
[submodule "bundle/haskell-vim"]
	path = bundle/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule "plugged/coc.nvim"]
	path = plugged/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
[submodule "pack/tpope/start/vim-fugitive"]
	path = pack/tpope/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "pack/airblade/start/vim-gitgutter"]
	path = pack/airblade/start/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
